<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluation with Natural Language Processing</title>
    </head>
    <body>
        <!--header area on top-->
        <header>
            <div class="">
                LOGO
            </div>
            <div class="">
                NAVIGATION
            </div>
        </header>
        <main>
            <section>
                <!--form to submit data-->
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" onblur="onBlur()" placeholder="URL">
                    <input type="submit"  name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section>
                <!--shows result of the processing-->
                <strong>Form results:</strong>
                <div id="results">
                    <div id="summary"></div>
                    <div id="score-tag">hi</div>
                    <div id="polarity-between"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>
        </main>
        <!--footer with additional information for the page-->
        <p>Footer stuff</p>
        <!-- adding Service Workers for supported browsers-->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>