<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Load Fonts -->
         <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <title>Evaluation with Natural Language Processing</title>
    </head>
    <body>
        <main>
            <section  class="app header">
                Evaluation with Natural Language Processing
            </section>
            <section class="app">
                <!--form to submit data-->
                <form onsubmit="return Client.handleSubmit(event)">
                    <label for="url">Enter URL for the article you wish to be analyzed</label>
                    <div class="url-button">
                        <input type="text" id="url" placeholder="URL..." required>
                        <input type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </div>
                </form>
            </section>
            <section class="app results">
                <!--shows result of the processing-->
                <div class="results-title">Form results:</div>
                <div id="results">
                    <div id="summary"></div>
                    <div id="score-tag"></div>
                    <div id="polarity-between"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>
        </main>
        <!--footer for the page-->
        <footer>
            © Footer stuff, not food stuff.
        </footer>
        <!-- adding Service Workers for supported browsers-->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>